<p id="notice"><%= notice %></p>

<p style="margin-left: 300px;">
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
