<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #009688;">
  <a class="navbar-brand  ml-3" href="#">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
  Hatchery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarsExample05">
    <ul class="navbar-nav mr-auto  ml-5">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown05">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
      <li class="dropdown profile-nav">
            <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://res.cloudinary.com/malaika/image/upload/v1573238639/avatar.jpg" width="40" height="40" class="rounded-circle">
            </a>
            <div class="dropdown-menu profile-dr" aria-labelledby="navbarDropdownMenuLink">
                <% if current_user %>
                  <a class="dropdown-item" href="#">Dashboard</a>
                  <a class="dropdown-item" href="#">Edit Profile</a>
                  <%= link_to "Log Out", logout_path, class: "dropdown-item" %>
                <% else %>
                  <%= link_to "Log In", login_path %>
                <% end %>
            </div>
      </li>   
  </div>
</nav>